@font-face {
   font-family: AlumniSansPinstripe;
   src: url(../fonts/Alumni_Sans_Pinstripe/AlumniSansPinstripe-Regular.ttf);
}

@font-face {
   font-family: Philosopher;
   src: url(../fonts/Philosopher/Philosopher-Regular.ttf);
}